.goal {
  width: 100%;
  div {
    display: flex;
    justify-content: space-between;
    .arrow {
      margin-top: 60%;
    }
    .goal-date {
      border: none;
      color: #1E2A32;
      display: grid;
      span {
        vertical-align: middle;
      }
      .goal-month{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
      }
      .goal-year {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
      }
    }
  }
}
label {
  font-size: 12px;
  line-height: 18px;
}

.form-input{
  border: 1px solid #E9EEF2;
  box-sizing: border-box;
  border-radius: 4px;
  :focus {
    outline: none;
  }
}

.variable-input{
  color: #CBD5DC;
  height: 50px;
  margin-top: 2%;
  margin-bottom: 3%;
}

@media only screen and (min-width: 768px) {
  .goal {
    width: 35%;
    div {
      display: flex;
      justify-content: space-between;
      padding-left: 2%;
      .goal-date {
        border: none;
        font-family: 'Work Sans', sans-serif;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        .goal-month{
          font-size: 16px;
          line-height: 24px;
          margin: 0px 10px;
        }
        .goal-year {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  label {
    font-size: 14px;
    line-height: 21px;
  }

  .variable-input{
    height: 56px;
  }
}