.saving-plans {
  color: 1E2A32;
  margin: 0;
  max-width: 100%;
  height: 85%;
  max-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
  border-radius: 8px;
  font-family: 'Work Sans';
  :focus {
    outline: none;
  }
}

.simulation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;

  .amount{
    width: 100%;
  }
  label {
    font-size: 12px;
    line-height: 18px;
  }
}

.form-input{
  border: 1px solid #E9EEF2;
  box-sizing: border-box;
  border-radius: 4px;
  :focus {
    outline: none;
  }
}

.confirm-button {
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 56px;
  margin-top: 5%;
  margin-bottom: 1%;
  background: #1B31A8;
  border-radius: 32px;
}

@media only screen and (min-width: 768px) {
  .saving-plans {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-bottom: 1%;
    max-height: 50vh;
    max-width: 40em;
    overflow-y: auto;
  }

  .simulation{
    flex-direction: row;
    .amount{
      width: 50%;
      div {
        margin-right: 6%;
      }
    }
    label {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .confirm-button {
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 25em;
    height: 56px;
    margin-top: 5%;
    margin-bottom: 1%;
    background: #1B31A8;
    border-radius: 32px;
  }
}